<!-- ============================
     < CHWM := CHAVIERWEBMÍDIA >
     < HTML := PÁGINA FOOTER.HTML >
     ============================ -->



<footer class="text-white py-4 mt-5 stick-footer">

    <div class="container">

        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">

                <h5>ChavierWebMídia</h5>

                <p class="mb-0">
                    Sites Profissionais • Landing Pages • Sistemas Web
                </p>

            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <h5>Links</h5>

                <a href="/" class="text-white">
                    Home
                </a>

            </div>

            <div class="col-12 col-md-12 col-lg-4">

                <h5>Contato</h5>

                <p class="mb-0">
                    ChavierWebMídia
                </p>

            </div>

        </div>

        <hr>

        <div class="text-center">

            <p class="mb-0">
                © 2026 ChavierWebMídia
            </p>

        </div>

    </div>

</footer>