<!-- =========================================================
     < CHWM := CHAVIERWEBMÍDIA >
     < HTML := HEADER.HTML >
     ========================================================= -->

{% load static %}

<header class="border border-1 border-white shadow-lg sticky-top">

    <nav class="navbar navbar-expand-lg navbar-dark ">

        <div class="container-fluid">

            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img
                    src="{% static 'imagem/logo-chavier-web-midia-solucoes-digitais.png' %}"
                    alt="ChavierWebMídia"
                    class="img-fluid"
                >
            </a>

            <!-- Botão Hambúrguer -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Abrir menu"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-auto align-items-lg-center ">

                    <!-- Home -->
                    <li class="nav-item">

                        <a class="nav-link" href="/">
                            Home
                        </a>

                    </li>


                    <!-- Serviços -->
                    <li class="nav-item dropdown">

                        <a
                            class="nav-link dropdown-toggle text-white"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Serviços
                        </a>

                        <!-- Dropdown -->
                        <div class="dropdown-menu">

                            <div class="container">

                                <div class="row ">

                                    <!-- Sites -->
                                    <div class="col-12 col-md-6 col-lg-3">

                                        <h5>🌐 Sites</h5>

                                        <p>
                                            Sites profissionais, responsivos e modernos.
                                        </p>

                                        <a href="#" class="btn btn-outline-light btn-sm">
                                            Saiba mais
                                        </a>

                                    </div>


                                    <!-- Landing Pages -->
                                    <div class="col-12 col-md-6 col-lg-3">

                                        <h5>🚀 Landing Pages</h5>

                                        <p>
                                            Páginas focadas em divulgação e conversão.
                                        </p>

                                        <a href="#" class="btn btn-outline-light btn-sm">
                                            Saiba mais
                                        </a>

                                    </div>


                                    <!-- Sistemas Web -->
                                    <div class="col-12 col-md-6 col-lg-3">

                                        <h5>💻 Sistemas Web</h5>

                                        <p>
                                            Sistemas personalizados para empresas.
                                        </p>

                                        <a href="#" class="btn btn-outline-light btn-sm">
                                            Saiba mais
                                        </a>

                                    </div>


                                    <!-- E-commerce -->
                                    <div class="col-12 col-md-6 col-lg-3">

                                        <h5>🛒 E-commerce</h5>

                                        <p>
                                            Lojas virtuais para vender pela internet.
                                        </p>

                                        <a href="#" class="btn btn-outline-light btn-sm">
                                            Saiba mais
                                        </a>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </li>


                    <!-- Portfólio -->
                    <li class="nav-item">

                        <a class="nav-link" href="#">
                            Portfólio
                        </a>

                    </li>


                    <!-- Sobre -->
                    <li class="nav-item">

                        <a class="nav-link" href="#">
                            Sobre
                        </a>

                    </li>


                    <!-- Contato -->
                    <li class="nav-item">

                        <a class="btn btn-sm ms-lg-2" href="#">
                            Contato
                        </a>

                    </li>

                </ul>

            </div>

        </div>

    </nav>

</header>