
<!-- -->


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChavierWebMídia</title>
</head>


<body>



    <div class="container">


        <div class="col-12 col-md-6 col-lg-4">



            <section class="row ">


                <h1> hoje quero viver</h1>


                <p> kskskkdjmsjjdmnmsjndk,msjjnsjnjskjmdjks,,skjn </p>






            </section>






        
        
        
        
        
        </div>



    </div>






    
</body>
</html>