<!-- ============================
     < CHWM := CHAVIERWEBMÍDIA >
     < HTML := PÁGINA HOME.HTML >
     ============================ -->

{% extends 'base.html' %}

{% block content %}

<!-- Apresentação -->

<section class="hero py-5">

     <div class="container-fluid">
          <div class="row justify-content-center">

               <div class="col-12 col-lg-6 text-center hero-content ">
                    <h1 class="hero-title fw-bold">
                         Bem-vindo à ChavierWebMídia
                    </h1>

                    <p class="hero-subtitle">
                       Onde ideias se transformam em experiências digitais.
                    </p>
               </div>

          </div>
     </div>

</section>

{% endblock %}