 /*=======================================
     < CHWM := CHAVIERWEBMÍDIA >
     < CSS := PÁGINA STYLE HOME DO SITE >
     =====================================*/


.hero {
    width: 100%;
    max-height: 800px;
    height: 500px;
    background-image: url("../imagem/Captura de tela 2026-09-26 112746.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero-content {
    padding-top: 170px;
}


.hero-title {
    transition: all 0.4s ease;
     background: linear-gradient(
        256deg,
        var(--cor-principal) 0%,
        var(--cor-secundaria) 35%,
        var(--cor-destaque) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.hero-title:hover {
    transform: translateY(-5px);
    text-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.hero-subtitle {
    transition: all 0.4s ease;
}

.hero-subtitle:hover {
    transform: translateY(-3px);
    opacity: 0.85;
}